
<div class="child-container4">
    <p>The users info :</p>
    <form>
        <div class="child-container4">
            <table>
                <tr>
                    <td class="labelStyle"><div class="tdWidth">Id :</div></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="labelStyle"><div class="tdWidth">Name :</div></td>
                    <td><input type="text" ></td>
                </tr>
                <tr>
                    <td class="labelStyle"><div class="tdWidth">Power :</div></td>
                    <td><input type="text"  ></td> 
                </tr>
            </table>
        </div>
        {{ randomText }}

        <app-hero-details-directive [hero]="heroToBeEdited"></app-hero-details-directive>
        
        <div class="child-container4">
          <button class="btn-small btn-blue" type="button" > Save </button>
        </div>
    </form>
</div>
