
.description{
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.messageStyle {
    margin-top: 1px;
    width: 20%;
}